:root{
    --primary-background: #73683b;
    --secondary-background: #899878;

    --dark1: #73683b;
    --dark2: #899878;
    --light1: #f7f7f2;
    --light2: #e4e6c3;
    --light3: #ffffff;
} 

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }

 body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-container {
    display: block;
    background-color: var(--light3);
    font-size: 0.85rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto; 

}


.header {
    width: 90%;
    background-color:  var(--primary-background);
    border-radius: 0px 0px 30px 30px;
    border-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }

  .header > h1 {
      color: var(--light1);
  }


.content{
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
    
}

#add-book-form {
    margin-top: 10px;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--dark1);
    border-radius: 15px;
}
.form-item {
    padding: 9px;
    min-width: 33px;
    flex-grow: 1;
}
.titleInputHolder{
    /* margin: 3px solid rgb(19, 15, 15); */
    background-color: rgb(227, 255, 198);
}
.authorInputHolder{
    background-color: rgb(255, 198, 181);
}
/* 
// RANGE style */
.rangeContainer {

      background-color: rgb(220, 255, 243);
      display: flex;
}
.rangeValue {
    text-align: center;
    font-weight: bold;

}
.slider {

}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #6699b9;
    border-radius: 52px;
    margin: 0 auto;
    outline: 0;
  }
  
input[type="range"]:hover {
      background-color: white;
      
}
input[type="range"]:active {
      transform: scale(1.1);
}

/* ////////// BOOKLIST ///////////// */

ul{
    
    margin-top: 10px;
    background-color: darkgoldenrod;
    list-style: none;
}

li{
    border-bottom: darkolivegreen 2px solid;
    border-right: darkolivegreen 5px solid;
    border-left:  darkolivegreen 3px solid;
    background-color: darkkhaki;
    display: flex;
    flex-flow: row;
    justify-self: auto;
    
    
}
